
<div class="card">
  <h5 class="card-header">Class</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0" *ngFor="let classe of ListClasse">
      <tr>
        <td>{{classe.idClasse}}</td>
        <td><a type="submit" (click)="etudiant(classe.idClasse)"><i class="fab fa-bootstrap fa-lg text-primary me-3"></i><strong>{{classe.name}}</strong></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

