<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <h1>Sweaka</h1>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a routerLink="/home" class="menu-link" routerLinkActive="active">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>
    <!-- Batiment -->
    <li class="menu-item">
      <a routerLink="/department" class="menu-link" routerLinkActive="active">
        <i class="menu-icon tf-icons bx bx-buildings"></i>
        <div data-i18n="Analytics">Department</div>
      </a>
    </li>
    <!-- Classe -->
    <li class="menu-item">
      <a routerLink="/classe" class="menu-link" routerLinkActive="active">
        <i class="menu-icon tf-icons bx bxs-message-edit"></i>
        <div data-i18n="Analytics">Classe</div>
      </a>
    </li>
    <!-- Etudiant -->
    <li class="menu-item">
      <a routerLink="/etudiant" class="menu-link" routerLinkActive="active">
        <i class="menu-icon tf-icons bx bxs-user-account"></i>
        <div data-i18n="Analytics">Etudiant</div>
      </a>
    </li>


<div class="layout-overlay layout-menu-toggle"></div>
<!-- club -->

</ul>
</aside>
<div class="layout-overlay layout-menu-toggle"></div>
<!-- / Menu -->
